<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/style/welcome.css">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo">Chatte</a>
            <div class="links">
                <a href="/account/login">Log in</a> |
                <a href="/account/register">Sign up</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="text">
            <span>Keeping in touch made super easy. Try it out!</span>
            <a href="/main">Get started</a>
        </div>
        <img src="/images/chat.jpg" alt="">
    </main>
</body>

</html>